body {
    background-color: #0FAEF7;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Helvetica", sans-serif;
}

#navbar {
    overflow: hidden;
    background-color: #0f64F7;
    border-bottom: solid 3px white;
    border-top: solid 3px white;
    color: white;
}

#navbar span {
    float: left;
    text-align: center;
    padding: 10px;
    width: 10%;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
}



.color {
    cursor: pointer;
}

.color:hover {
    border-left: solid 1px white;
    border-right: solid 1px white;
}

#box {
    width: 75%;
    margin: 10px 0 10px 10px;
    padding: 15px;
    border-radius: 5px;
    border: 0 solid gray;
}


.addBtn {
    padding: 14px;
    width: 20%;
    background-color: lightgrey;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    list-style-type: none;
    text-align: left;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
}

.close:hover {
    background-color: #34B233;
    color: white;
    border-radius: 5px;
}

#card {
    transition: 0.3s;
    color: white;
    font-family: "Helvetica", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-left: 25%;
    padding: 10px;
    background-color: #0f64F7;
    border-radius: 10px;
    margin-top: 10%;
}

.card-content {

}